.min-h-screen {
  min-height: 100vh;
}

.sidebar {
  background-color: #613FAA;
  border-right: 1px solid #ccc;
  transition: width 0.4s ease;
  max-height: 100vh;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar-expanded {
  width: 16rem;
}

.sidebar-collapsed {
  width: 5rem;
}

.logo-container {
  background-color: white;
  border-radius: 4px;
  margin-top: 1.3rem;
  padding-left: 1.2rem;
  display: flex;
  justify-content: center;
  transition: width 0.4s ease;
  margin-left: 1.3rem;
}

.logo-expanded {
  width: 13rem;
  height: 3rem;
  justify-content: flex-start;
}

.logo-collapsed {
  width: 3rem;
  justify-content: center;
  padding-left: 0;
  margin-left: 15.5px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-white {
  color: white;
}

.hover\:text-white:hover {
  color: white;
}

.sidebar-item {
  position: relative;
}

.collapsed .sidebar-item button {
  justify-content: flex-end;
}

.sidebar-item button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 3rem;
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 100%;
}

.sidebar-item button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.375rem;
}

.sidebar-item button:focus {
  outline: none;
}

.sidebar-item button .ml-2 {
    margin-left: 0rem;

}

.sidebar-item button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  transition: transform 0.4s ease;
}

.sidebar-item button.rotate-0 svg {
  transform: rotate(-90deg);
}

.sidebar-item button.-rotate-90 svg {
  transform: rotate(0deg);
}

.sidebar-item ul {
  padding-left: 0;
}

.sidebar-item li {
  list-style-type: none;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.375rem;
}

.sidebar-item a img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.collapsed .sidebar-item ul {
  display: none;
}

.collapsed .sidebar-item a span {
  display: none;
}

.collapsed {
  width: 5rem;
}

.collapsed .logo-container {
  width: 4rem;
}

.collapsed button {
  justify-content: center;
}

.collapsed .sidebar-item button .ml-2 {
  display: none;
}

.sidebar-item button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  height: 3rem;
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 100%;
}

.sidebar-item button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.375rem;
}

.sidebar-item button:focus {
  outline: none;
}
